*{
	margin: 0px
}
 body{
 	font-family: 'Gupter', serif;
 	background-image:url(../img/p2.jpg);
 	background-repeat: no-repeat;
 	background-size: cover;

 }
.containar{
		width: 640px;
	margin: 12% auto;


}

.login-section {
    background-color:  #0066ff;
    padding: 30px;
}
.login-section img{

 margin: 5px auto;
    width: 160px;
    display: block;

	
}

   .login-section h2 {
    margin: 0px auto;
    width: 130px;
    }
.form-control{

	
	width: 90%;
	padding: 10px;
	margin: 10px auto;


}

.btn{
  margin: 0px auto;
    padding: 5px;
    display: block;
	
}

